<link rel="stylesheet" href="/css/login.css">

<body>
  <div class="container">
    <div class="row mt-5">
      <div class="col-1 col-md-2 col-lg-3"></div>
      <div class="col col-10 col-md-8 col-lg-6 align-self-center mt-5 px-0" id="panel">
        <div class="card bg-light">
          <div class="card-header">InfoMan Login</div>
          <div class="card-body">

            <form action="/" method="post">
              <div class="col-auto p-0">
                <label class="sr-only" for="username">Usuario</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">US</div>
                  </div>
                  <input class="form-control" type="text" name="username" id="username" placeholder="Usuario">
                </div>
              </div>

              <div class="col-auto p-0">
                <label class="sr-only" for="password">Contraseña</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">***</div>
                  </div>
                  <input class="form-control" type="password" name="password" id="password" placeholder="Contraseña">
                </div>
              </div>

              <div class="col-auto p-0">
                <button class="btn btn-primary mb-2" type="submit" name="submit" id="submit" value="Submit">Entrar</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
